<?xml version="1.0" encoding="UTF-8"?>
<monframework-config>
	<actions>
		<action>
			<action-name>fr.afcepf.atod26.framework.servlets.ActionUn
			</action-name>
			<url-pattern>actionun</url-pattern>
			<form-name>ActionUnForm</form-name>
			<from-view>index.jsp</from-view>
		</action>
		<action>
			<action-name>fr.afcepf.atod26.framework.servlets.ActionDeux
			</action-name>
			<url-pattern>actiondeux</url-pattern>
			<form-name>ActionDeuxForm</form-name>
		</action>
		<action>
			<action-name>fr.afcepf.atod26.framework.servlets.ActionTrois
			</action-name>
			<url-pattern>actiontrois</url-pattern>
			<form-name>ActionTroisForm</form-name>
		</action>
	</actions>
	<forms>
		<form>
			<form-name>ActionUnForm</form-name>
			<form-class>fr.afcepf.atod26.framework.formbeans.ActionUnForm
			</form-class>
		</form>
	</forms>
</monframework-config>